<div style = "background: #3498DB">
    <br><br><br>

    <br>
    <br>

    <div class="searchContainer">

        <div class="row">
            <div class="col-lg-10">
                <div class="input-group">
                    <input ng-model="vm.searchItem" type="text" class="form-control" placeholder="  Search for...">
                    <span class="input-group-btn">
                    <button ng-click="vm.search()" class="btn btn-success" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="results">
        <h4 class="text-center text-white">Search Results</h4>
        <br>
        <div style="border-bottom: 1px solid black; padding: 10px;" class="row " ng-repeat="item in vm.results">
            <div class="col-md-3"><b>Name : </b> {{item.name}}</div>
            <div class="col-md-1"></div>
            <div class="col-md-3"><b>Location : </b>{{item.address}}</div>
            <div class="col-md-5"></div>
        </div>


    </div>

</div>