<html> 
<head> 
    <h1 class="center-title">This is the {{vm.page}}</h1>   
</head>  
<body> 
    <div class="container center-shit"> 
        <input id="emailInput" type="email" placeholder="Enter Email"><br><br> 
        <input id="passInput" type="password" placeholder="Enter Password"><br><br> 
        <button id="btnLogin" class="btn btn-default">Log in</button> 
        <button id="btnSignUp" class="btn btn-secondary">Registration</button> 
        <button id="btnLogOut" class="btn btn-secondary hide">GTFO</button>   
        <!--<button id="btnLogOut" ng-click="vm.clicking()" class="btn btn-secondary hide">GTFO</button>-->  
    </div>  
</body>
   </html>


